html, body {
  margin: 0;
  font-family: "Kavivanar", cursive;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/dark_wall.png");
  color: #fff;
  text-shadow: black 1px 0 10px; }
  @media (min-width: 320px) {
    html, body {
      font-size: 1.2em; } }
  @media (min-width: 369px) {
    html, body {
      font-size: 1.25em; } }
  @media (min-width: 768px) {
    html, body {
      font-size: 1.4em; } }
  @media (min-width: 1024px) {
    html, body {
      font-size: 1.6em; } }

.container {
  margin: 0 auto;
  overflow: hidden; }

.title {
  margin: 15px;
  margin-bottom: 10px; }

.top-panel {
  margin: 0 auto;
  text-align: center;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s; }

.nav {
  display: inline-block; }
  @media (min-width: 320px) {
    .nav {
      margin: 10px 10px; } }
  @media (min-width: 369px) {
    .nav {
      margin: 10px 10px; } }
  @media (min-width: 768px) {
    .nav {
      margin: 0 40px; } }
  @media (min-width: 1024px) {
    .nav {
      margin: 0 90px; } }

.start-btn {
  cursor: pointer; }

.strict-btn {
  cursor: pointer; }

.strict-btn.on {
  color: yellow; }

.round-status.wrong {
  color: red; }

.gameboard {
  margin: 0 auto;
  margin-top: 10px;
  position: relative; }
  @media (min-width: 320px) {
    .gameboard {
      height: 300px;
      width: 300px; } }
  @media (min-width: 369px) {
    .gameboard {
      height: 345px;
      width: 345px; } }
  @media (min-width: 1024px) {
    .gameboard {
      height: 425px;
      width: 425px; } }

.panel {
  border-radius: 100%;
  display: inline-block;
  animation-duration: 0.75s;
  -webkit-animation-duration: 0.75s;
  position: absolute;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15); }
  @media (min-width: 320px) {
    .panel {
      height: 125px;
      width: 125px;
      border: 8px solid; } }
  @media (min-width: 369px) {
    .panel {
      height: 140px;
      width: 140px;
      border: 9px solid; } }
  @media (min-width: 1024px) {
    .panel {
      height: 175px;
      width: 175px;
      border: 10px solid; } }

.panel#green {
  bottom: 0;
  left: 0;
  border-color: #34a853; }

.panel#red {
  top: 0;
  right: 0;
  border-color: #ea4335; }

.panel#blue {
  bottom: 0;
  right: 0;
  border-color: #4285f4; }

.panel#yellow {
  top: 0;
  left: 0;
  border-color: #fbbc05; }

.panel#green:active, .panel.lit#green {
  background-color: rgba(52, 168, 83, 0.8); }

.panel#red:active, .panel.lit#red {
  background-color: rgba(234, 67, 53, 0.8); }

.panel#blue:active, .panel.lit#blue {
  background-color: rgba(66, 133, 244, 0.8); }

.panel#yellow:active, .panel.lit#yellow {
  background-color: rgba(251, 188, 5, 0.8); }

.status-bar {
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
  font-weight: bold; }
  @media (min-width: 320px) {
    .status-bar {
      font-size: 0.85em; } }
  @media (min-width: 369px) {
    .status-bar {
      font-size: 0.9em; } }
  @media (min-width: 768px) {
    .status-bar {
      font-size: 1em; } }
  @media (min-width: 1024px) {
    .status-bar {
      font-size: 1em; } }

/*# sourceMappingURL=style.css.map */
