html,body
  margin: 0

.container
  margin: 0 auto

.panel
  height: 100px
  width: 100px
  border: 5px solid black
.panel#white
  background-color: white
.panel#yellow
  background-color: yellow
.panel#blue
  background-color: blue
.panel#pink
  background-color: pink
